body {
    background-color: #f0f0f0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 100px;
}
h1 {
    text-align: center;
    font-size: x-large;
}
p {
    text-align: left;
}
#namareporter {
    font-weight: bold;
    font-size: xx-small;
}
.publish {
    font-size: xx-small;
    text-align: center;
}
a:link{
    text-decoration: none;
    color: blue;
}
a:visited {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
    color: blue;
    font-size: large;
}
.agakmasuk {
    margin-left: 20px;
}
.gambar {
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);;
}